@use 'config';

.mainimage--image {
    margin-bottom: 32px;
    cursor: pointer;
    img {
        width: 445px;
        border-radius: 15px;
    }
}

.thumbnail--images {
    display: flex;
    justify-content: space-between;
    width: 445px;
    .thumbimage {
        display: flex;
        position: relative;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        box-sizing: border-box;
        z-index: 5;
        img {
            display: flex;
            border-radius: 7px;
            width: 88px;
            //height: 88px;
            box-sizing: border-box;
            z-index: 0;
            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}

// Lets see how to handle this
.selected {
    border: 2px solid config.$color-primary-orange;
    img {
        opacity: 0.5;
    }
}