@use 'config';

.addtocart {
    display: flex;
    height: 56px;
    align-items: center;
    //background: red;
    font-size: 20px;
}

.addtocart--numberitems {
    width: 165px;
    display: flex;
    margin-right: 16px;
    background: config.$color-light-greyish-blue;
    height: inherit;
    align-items: center;
    > button {
        width: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span {
        margin: 0 16px 0 16px;
        font-weight: 700;
    }
}